@use 'base/variables' as v;

@use 'base/mixins' as m;

.contenedor-app {

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;

    }

    .imagen {
        height: 20rem;
        background-image: url(../img/hero.jpg);
        background-size: cover;
        background-position: center;

        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 100%;
        padding: 3rem 4rem;

        @include m.tablet {
            overflow: auto;
        }

    }

    .banner {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 3rem 0;

        a {
            color: white;
        }
    }


}

.contenedor-boton {
    display: flex;
    justify-content: center;
}

.barra {

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    margin: v.$separacion 0;


    .boton {
        margin: 0;
        @include m.boton(v.$negro, v.$blanco);

    }

}

.barra-servicios {

    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
}